@ffres:registry=https://npm-proxy.fury.io/${GEMFURY_TOKEN}/ffdc/
//npm-proxy.fury.io/${GEMFURY_TOKEN}/ffres/:_authToken=${GEMFURY_TOKEN}
@financialforcedev:registry=https://npm-proxy.fury.io/${GEMFURY_TOKEN}/ffdc/
//npm-proxy.fury.io/${GEMFURY_TOKEN}/financialforcedev/:_authToken=${GEMFURY_TOKEN}